.button{
    color: blue;
    background-color: aquamarine;
    padding: 20px;
    position: relative;
}
.button:hover{
    background-color: black;
}
.button::before{
    background-color: brown;
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
}
.button::after{
    background-color: aqua;
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
}