:root {
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: "Lato", sans-serif;
    --color-primary: #2c3e50;
    --color-secondary: #18bc9c;
    --color-background: #ffffff;
    --color-black: #000;
}