@import '../css/globals.css';
/*Estilos para todo el footer*/
.footer {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.footer-title {
    font-family: var(--font-primary);
    font-size: 25px;
    font-weight: 900;
    letter-spacing: -1px;
    line-height: 1;
    text-align: start;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    margin: 20px;
}

.footer-divs {
    width: 100%;
    text-align: center;
}
.footer p {
    font-family: var(--font-secondary);
    font-weight: bold;
    font-size: 18px;
    line-height: 1.3;
    text-align: start;
}
.footer-divs span {
    color: var(--color-secondary);
}
.footer-container__webs {
    display: flex;
    justify-content: start;
    align-items: center;
}
.footer-container__webs a {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
    background-color: transparent;
    border: 2px solid white;
    text-align: center;
    line-height: 30px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.footer-container__webs a i {
    color: white;
}

/* Estilos para teléfonos y pantallas más pequeñas */
@media screen and (min-width: 774px) {
    .footer-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        max-width: 33.33cm;
    }
    .footer-title {
        margin: 0;
    }
    .footer-divs {
        display: grid;
        justify-items: center;
        margin: 0 0 20px 0; /* Margen inferior de 20px en pantallas pequeñas */
        text-align: start;
    }
    .footer-divs p {
        text-align: center;
    }
    .footer > p{
      font-size: 14px;
    }
}
