@import '../css/globals.css';

.header {
    background-color: var(--color-primary);
    font-family: var(--font-primary);
    padding: 5px 20px;
    color: #FFFFFF;
    font-weight: 900;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.title {
    font-size: 25px;
    font-weight: 900;
    /* Ajusta el grosor del texto */
    letter-spacing: -1px;
    /* Reduce el espaciado entre letras */
    line-height: 1;
    /* Ajusta la altura de línea */
    text-transform: uppercase;
    /* Convierte el texto en mayúsculas */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Agrega una sombra al texto */
}

.header__nav-list {
    list-style: none;
    margin: 0;
    gap: 10px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 68px;
    background-color: var(--color-primary);
    width: 100%;
    right: 100%;
    transition: all .5s ease-in-out;
}


.header__nav-list.menu-active {
    right: 0;
}

.hamburger-menu {
    cursor: pointer;
}

.header__nav-item {
    display: inline-block;
    flex: 1;
    text-align: center;
    width: 100%;
    transition: all .5s ease-out;
}

.header__nav-item:hover {
    background-color: #1f2b37;
}

.header__nav-link {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 900;
    display: block;
    padding: 15px 0;
    /* Ajusta el grosor del texto */
    letter-spacing: -1px;
    /* Reduce el espaciado entre letras */
    line-height: 1;
    /* Ajusta la altura de línea */
}

/* Estilos para dispositivos Medium (≥768px) */
@media (min-width: 768px) {

    /* Se aplicara cuando la pantalla sea mayor a 768px */
    .header__nav-list {
        position: initial;
        flex-direction: row;
        width: auto;
        gap: 20px;
    }

    .header__nav-item:hover {
        background-color: inherit;
    }

    .header__nav {
        flex-wrap: nowrap;
    }

    .hamburger-menu {
        display: none;
    }

    .header {
        padding: 5px 0;
    }
}