@import '../css/globals.css';

.header {
    background-color: var(--color-primary);
    font-family: var(--font-primary);
    padding: 0 15px;
    color: #FFFFFF;
    font-weight: 900;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 25px;
    font-weight: 900;
    /* Ajusta el grosor del texto */
    letter-spacing: -1px;
    /* Reduce el espaciado entre letras */
    line-height: 1;
    /* Ajusta la altura de línea */
    text-transform: uppercase;
    /* Convierte el texto en mayúsculas */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Agrega una sombra al texto */
}

.header__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
}

/* Estilos para dispositivos Medium (≥768px) */
@media (min-width: 768px) {

    /* Se aplicara cuando la pantalla sea mayor a 768px */
    .header__nav-list {
        display: block;
    }

    .header {
        padding: 0px;
    }
}

.header__nav-item {
    display: inline-block;
    margin-right: 20px;
}

.header__nav-link {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 900;
    /* Ajusta el grosor del texto */
    letter-spacing: -1px;
    /* Reduce el espaciado entre letras */
    line-height: 1;
    /* Ajusta la altura de línea */
}