.start-icon {
    position: relative;
}

.start-icon::before {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 80px;
    height: 4px;
    left: 45px;
    top: 6px;
    bottom: 0;
}

.start-icon::after {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 80px;
    height: 4px;
    right: 45px;
    top: 6px;
    bottom: 0;
}

.black{
    color: black;
}
.white{
    color: white;
}