@import '../css/globals.css';

.section-contact__background {
    background-color: var(--color-background);
}

.section-contact__title {
    color: var(--color-black);
    font-family: var(--font-primary);
    font-size: 40px;
    font-weight: 900;
    letter-spacing: -1px;
    line-height: 1;
    text-transform: uppercase;
    padding: 0 0 0;
    margin-bottom: 15px;
}

.button-line {
    background-color: var(--color-secondary);
    border: none;
    color: var(--color-background);
    padding: 10px;
    font-size: 16px;
    text-align: center;
    position: relative;
    border-radius: 6px;
    font-family: var(--font-primary);
    font-weight: 800;
    width: 70px;
    cursor: pointer;
}

.section-contact .input-field {
    border: none;
    font-weight: 700;
    padding-bottom: 25px;
    font-size: 18px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(186, 184, 184, 0.437);
    outline: none;
    color: #9fa8b7;
    font-family: var(--font-secondary);
}

.section-contact .input-field::placeholder {
    color: #9fa8b7;
}

.container {
    flex: 1;
    width: 100%;
    margin: 0 auto;
    max-width: 700px;
}

.section-contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 80px 0;
}

.section-contact__form {
    display: flex;
    flex-direction: column;
    margin: 20px;
}


textarea.input-field {
    resize: none;
}