@import '../css/globals.css';
.section-portfolio__background{
    background-color:var(--color-background);
}
.section-portfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 80px 0 80px 0px;
}
.section-contact__title {
    margin-bottom: 15px;
    color: var(--color-black);
    font-family: var(--font-primary);
    font-size: 40px;
    font-weight: 900;
    letter-spacing: -1px;
    line-height: 1;
    text-transform: uppercase;
    padding: 0 0 0;
   

}
