@import '../css/globals.css';
.section-contact__background{
    background-color: var(--color-background);
}
.section-contact {
    display: flex;
    flex-direction: column;
    color: var(--color-background);
    padding: 80px 0;
    align-items: center;
}
.section-contact__title {
    color: var(--color-black);
    font-family: var(--font-primary);
    font-size: 40px;
    font-weight: 900;
    letter-spacing: -1px;
    line-height: 1;
    text-transform: uppercase;
    padding: 0 0 0;
    margin: 0;

}