@import '../css/globals.css';

.section-about__background {
    background-color: var(--color-secondary);
}

.section-about {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 80px 0;
}

.section-about__title {
    margin-bottom: 15px;
    color: var(--color-background);
    font-family: var(--font-primary);
    font-size: 40px;
    font-weight: 900;
    /* Ajusta el grosor del texto */
    letter-spacing: -1px;
    /* Reduce el espaciado entre letras */
    line-height: 1;
    /* Ajusta la altura de línea */
    text-transform: uppercase;
    /* Convierte el texto en mayúsculas */
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  Agrega una sombra al texto */
    padding: 0 0 0;
    /* Quita el padding alrededor del título */
}

.section-about__text {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin: 20px;
}

.section-about__text p {
    font-family: var(--font-secondary);
    color: var(--color-background);
    font-weight: 700;
    font-size: 20px;
    width: 100%;
    line-height: 1.3;
    padding: 0;
    margin: 0;
    text-align: center;
}

.button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    font-family: var(--font-secondary);
    cursor: pointer;
}

.button .icon {
    color: var(--color-background);
    margin-right: 5px;
}

@media (min-width: 576px) {
    .section-about__text p {
        text-align: unset;
    }

    /* Tus estilos para dispositivos Small aquí */
    .section-about__text {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (min-width: 992px) {
    .section-about__text {
        margin: 20px 150px;
    }
}