@import '../css/globals.css';
.section-portfolio {
    /* height: 100vh; */
    background-color:var(--color-background);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 80px 0 80px 0px;
}
