@import '../css/globals.css';
.section-about__background{
    background-color: var(--color-secondary);
}
.section-about {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 80px 0;
}
.section-about__title {
    margin-bottom: 15px;
    color: var(--color-background);
    font-family: var(--font-primary);
    font-size: 40px;
    font-weight: 900;
    /* Ajusta el grosor del texto */
    letter-spacing: -1px;
    /* Reduce el espaciado entre letras */
    line-height: 1;
    /* Ajusta la altura de línea */
    text-transform: uppercase;
    /* Convierte el texto en mayúsculas */
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  Agrega una sombra al texto */
    padding: 0 0 0;
    /* Quita el padding alrededor del título */
}
